include src/exocounts/data/mag.list

graft tests
graft examples
graft docs

global-exclude *.py[co]

prune documents/_build
prune documents/_static
prune documents/_templates
prune documents/_build/doctrees/index.doctree
